﻿
body {
        padding: 8px;
        font: "calibri 12px"
      }

.paysage, form input[type=button]{float:left;}

 p{font-size:larger}

#canvasContainer{position:relative; margin-top: 1px;}

 canvas{
      	border: 1px solid green;
		position:relative;
      }

#actions, #selectedObject{display: flex; flex-direction: row; align-items:center;}

#selectedObject input {
        max-width:60px;
    }

ul.menu {
	padding:0; /*float:left;*/ list-style-type:none;/*ALT:true:paysage*/
	}
div.menu{}
ul.menu li , form input[type=button], div.menu span{
        display:inline-block;
        margin:4px;
        min-width:100px;
        min-height:24px;
        width:20%;
        border:2px solid;
        background:beige;
        padding:4px;
        font-weight:bolder;
        /*float:left;*/  /*ALT:true:portrait*/
    }
 
#color_dialog, #color_dialog div, #property, #description{display:inline;} 
	  
#color_dialog input[type=button] {
          min-width:32px;
        }
	   
input.toggle{opacity:.5}

.propertybar input[type=button], #dialog_geo input[type=buttton] {
    padding: 4px; border:2px solid blue; background:beige; font-weight:bold;
}

#messageContainer{
    position: absolute;
    background: beige;
    /*padding:4px;*/
    top: 20px;
    left: 20px;
}

#stopMessage {
    font: "calibri 18px"; 
    padding: 4px;
}

#stopMessage div{
	float:left
	}

#stopMessage span {
        padding: 4px;
    }

form{background:#ddd; border:#aaa; padding:4px;}
    
.submenu {
    display:none;
}

#put_menu_on_right1{
    background:url(right_menu.png);
    background-size:contain;
    width:40px;
    height:40px;
}

#widgetslide{display:inline-block; position:relative; width:480px; height:36px;z-index:2}  /*largeur id canslider*/ 
#slider{position:absolute;top:0;left:100px; opacity:.7; width:40px; text-align:center; background:bisque; z-index:2}
.binaire{float:left; text-align:center; font-size:24px; color:red}

/**1 image = xx icônes*/
span.geobuttonbar {
    margin-right:2px; float:left;
}
div.geobuttonbar p{display:inline}
div.geobuttonbar{border:1px solid #f4f4f4} 
div.geobuttonbar table{border:1px}
figure {
    display: inline-block;
}
.geobuttonbar input[type=button], .geobuttonbar>div.button, span.button, #property input[type=button]:not(.color) {
    background-image:url(buttonbar.png); background-repeat:no-repeat; width: 44px !important; height: 44px; margin: 0 !important; display: inline-block;
}
/*.geobuttonbar input {
    display:inline-block;
}*/
.geobuttonbar input:hover{border:1px solid blue}

.translate_cursor{background-position:-0px -0px}
.trashcan{background-position:-44px -0px}
.loupe{background-position:-88px -0px}
.cadenas{background-position:-132px -0px}
.undo{background-position:-176px -0px}
.grille{background-position:-220px -0px}
.distance{background-position:-264px -0px}
.repere{background-position:-308px -0px}
.fdex{background-position:-352px -0px}
.spirale{background-position:-396px -0px}
.point{background-position:-0px -44px}
.midpoint{background-position:-44px -44px}
.segment{background-position:-88px -44px}
.line{background-position:-132px -44px}
.parallele{background-position:-176px -44px}
.perpendiculaire{background-position:-220px -44px}
.angle{background-position:-264px -44px}
.circle{background-position:-308px -44px}
.compas{background-position:-352px -44px}
.sector{background-position:-396px -44px}
.horiz{background-position:-440px -44px}
.polygon_small{background-position:-0px -88px}
.pellicule{background-position:-44px -88px}
.sine2{background-position:-88px -88px}
.carreau{background-position:-132px -88px}
.egalite{background-position:-176px -88px}
.AB{background-position:-220px -88px}
.dashed{background-position:-264px -88px}
.crayon_gris{background-position:-308px -88px}
.coordonnee{background-position:-352px -88px}
.remplir{background-position:-396px -88px}
.symmetry{background-position:-440px -0px}
.line_symmetry{background-position:-484px -0px}
.message{background-position:-440px -88px}

.text{position:absolute; border:1px dashed gray;}

/**Les deux constituants du checkbox (voir chk)**/
.chk {
    display: none;
}
.unchecked, .checked{float:left; width:36px;height:36px;line-height:36px;border:1px solid blue; text-align:center}
.checked{display:none;font-size:24px}
.chk:checked + .forchk .unchecked{display:none} 
.chk:checked + .forchk .checked{display:block}






                                                                                                                                                                                                                         
