﻿@model GeoLab.Models.GeoModel

@{
    ViewBag.Title = "GeoView";
    ViewBag.Models = new SelectList(Model.liste, "_id", "title");
}

@Styles.Render("~/Content/geoStyle.css")

@Scripts.Render("~/Scripts/jquery.min.js")
@Scripts.Render("~/Scripts/jquery-ui.min.js")
@Scripts.Render("~/Scripts/knockout-3.4.0.js")   

<script type="text/javascript">
    Tactileo = { Quiz: {},geo:true}
</script>
@Scripts.Render("~/Scripts/geo/math.js")
@Scripts.Render("~/Scripts/geo/primitives.js")
@Scripts.Render("~/Scripts/geo/figure.js")
@Scripts.Render("~/Scripts/geo/plane.js")
@Scripts.Render("~/Scripts/geo/geocontrol.js")
@Scripts.Render("~/Scripts/geo/geoloader.js")
@Scripts.Render("~/Scripts/geo/geosvg.js")
@Scripts.Render("~/Scripts/geo/automate.js")
@Scripts.Render("~/Scripts/geo/template_compiler.js")   
@Scripts.Render("~/Scripts/param_url.js")
<!--
Scripts.Render("~/Scripts/geo/geo.min.js")
    -->

<div id="geo_content">
  
</div>
<div id="svg">
    <!--svg width="800" height="500" version="1.60" xmlns="http://www.w3.org/2000/svg">

        <g style="fill:springgreen;stroke-width:1px;stroke:gray">
            <circle class="aspoint" cx="250" cy="267" r="6"></circle>
            <circle class="aspoint" cx="489" cy="167" r="6"></circle>
            <circle class="aspoint" cx="491" cy="363" r="6"></circle>
        </g>
        <g style="fill:none;stroke-width:1px;stroke:maroon;font-size:12px">
            <text id="A" x="238" y="255">A</text>
            <text id="B" x="477" y="155">B</text>
            <text id="C" x="479" y="351">C</text>
        </g>
        <g style="fill:none;stroke-width:2px;stroke:blue">
            <line x1="250" y1="267" x2="489" y2="167"></line>
            <path d="M 488.92877471493284,167.02980137450515 A 259 259 0 0 1 490.61292600272134,362.8458128475571 " style="stroke:#ddcc88; fill:yellow"></path>
        </g>
        <path d="M 50,50 l30,0 0,-20 -30,0 0,20" style="stroke:black; fill:beige"></path>
    </!--svg-->
</div>
<!--asection JavaScript{
   <script type="text/javascript" src=aUrl.Content("/Scripts/geo/math.js")></script>
  }-->

@section serialize{
    <div style="float:right">
        <h3 style="display: inline-block"> <input type=text data-bind="value: title"></h3>
        <label for="title"></label>
        <input type="button" value="Sauvegarder" onclick="saveModel(false)" />
        <input type="button" value="Ré-enregistrer" data-bind="enabled: title" onclick="saveModel(true)" />
        <input type="button" value="Supprimer" onclick="removeModel()" />
        <input type="button" value="Voir SVG" onclick="$('#svg').html(plane.saveSVG())"/>
    <!--Html.DropDownList("Models", String.Empty);-->
    </div>
    <!--img title="bug" src="ouaoua.png"/-->
}

@section jsafterbody{
    <script type="text/javascript">

        $.get("/Scripts/geo/template.htm", function (data) { $("#geo_content").append(data); initAll(); });

        /**Initialisation**/
        function initAll() {
            template.initMenu("/Content/");
            
            plane.initCanvas(onlyclic = false);
            plane._id = '@Model._id';
            plane.title('@Model.title');

            var file=template.initFromUrl();  //false|true|object
            console.log("file");
            console.log(file);
            if (typeof (file) =="object") plane.load(file);
            else if(!file){
                plane.serviceData = JSON.parse(@(Html.Raw(Json.Encode(Model.serialize()))));
                plane.load(plane.serviceData);
            }
            ko.applyBindings(plane);
            //plane.addAt(figure.REPERE(), { x: 100, y: 100 });   //Colle un repère au plan.
           
            plane.updateScale();
            plane.redraw();
        }

        function saveModel(nouv) {
            var data = plane.intelliSave();   //{liste:, title:, figure_option, _id:}
            if (nouv&&data._id) delete data._id;   
            $.post("SaveBD", data, function (result) {
                alert(result.success + ':id=' + result._id);
                plane._id = result._id;
            });
        }

        function removeModel() {
            var id = plane._id;
            if (id) $.post("DeleteById", { "id": id }, function (data) { alert(data.success); });
            else alert("Votre modèle n'est pas(encore) dans la base");
        }

        /**Mettre la barre de boutons dans le footer par ex: element=$(".footer") Faire geobar.display=none eventt
        plane.putButtonBarInFooter = function (element) {
            var geobar = $(".geobuttonbar");
            if (geobar.css("display") == 'none') geobar.css("display", 'block');  //Recharge
            else element.append($(".geobuttonbar"));                         //Charge
        }*/
        var dialog_geo = $("#dialog_geo");
    </script>
}
