﻿@{
    ViewBag.Title = "MongoView";
}

<h2>MongoView</h2>
<span style="color:blue;">using</span> System;
<span style="color:blue;">using</span> System.Xml.Linq;
<span style="color:blue;">using</span> MongoDB.Bson;
<span style="color:blue;">using</span> MongoDB.Driver;



<span style="color:blue;">namespace</span> WikiExampleConsole
{
<span style="color:blue;"> class</span> <span style="color:#2b91af;">Program</span>
    {
<span style="color:blue;"> static</span> <span style="color:blue;">void</span> Main(<span style="color:blue;">string</span>[] args)
        {
<span style="color:#2b91af;">MongoServer</span> mongo = <span style="color:#2b91af;">MongoServer</span>.Create();
	   mongo.Connect();

<span style="color:blue;">var</span> db = mongo.GetDatabase(<span style="color:#a31515;">"tutorial"</span>);

	   ...

	   mongo.Disconnect();
        }
    }
}
