﻿@model GeoLab.Models.GeoList

@{
    ViewBag.Title = "View1";
    ViewBag.Models = new SelectList(Model.geoModels,"_id","title");
}

<h2>Modèles existant:</h2>

<script type="text/javascript">
    function redirect(dropDownValue) {
        window.location.href = '/Geo/GeoView?file=' + dropDownValue;
    }
</script>

<!--,a,Html.DropDownList("Models", String.Empty)-->
<br/>
@Html.DropDownList("chosenModel", new SelectList(Model.geoModels, "_id", "title"), new { @class = "todo", onchange = "redirect(value)" })

@Html.ActionLink("Nouvelle feuille de géométrie", "GeoView?new=1", "Geo")



