﻿<!--Top bar-->
<!--Common-->
<span class="geobuttonbar"  data-bind="foreach: plane.commonButtons">
    <input type=button data-bind="attr:{title:_title,name:_class},css:_class,click:function(){eval(_onclick)}" />
</span>
<!--undo
<span class="geobuttonbar"  data-bind="with: plane.undoButton">
    <input type=button data-bind="attr:{title:_title,name:_class},css:_class,click:function(){eval(_onclick)}" />
</span>-->

<!--Menu propriétés-->
<div id="selectedObject" data-bind="if: plane.Selected()">
    <!--class="submenu" data-bind="ifnot: intent()" style="float:left;"-->
    <!--span class='geo-info'>Propriétés:</!--span-->
    <div name='property' id='property' data-bind='foreach: listProperties()'>
        <span data-bind="if:$data!='color'">
            <input type=button data-bind="title: $data, css: $parent.figure_prop[$data], click: $parent.setProperty" />
            <!--div style="float:left" data-bind="template:{name:$data}, click:$parent.setProperty"></!--div-->
        </span>
        <div name='color_dialog' id='color_dialog' data-bind="if: $data=='color'">
            <div data-bind='foreach: prim.colors()'>
                <input type=button class='color' data-bind='attr:{name:$data}, event:{click: $root.selColor}, style:{background: $data}' />
            </div>
        </div>
    </div>
    <div data-bind="with: Selected()">
        <div name="collection_dialog" data-bind="if: (name=='COLLECTION')">
            <label for="fill_action" style="display:inline">Méthode de liaison</label>
            <select name='fill_action' data-bind="options: figure.collection.actions(), value: action, event:{change:$parent.redraw}"></select>
        </div>
        <div name="repere_dialog" data-bind="if: name=='REPERE'">
            <input id='unitx' size="3" type=text data-bind="value:unitx" /> Unité en abscisse
            <input id='unity' size="3" type=text data-bind="value:unity" /> Unité en ordonnée
            <input type=button value='OK' onclick="template.setUnit()" />
        </div>
    </div>
</div>

<div id="actions" data-bind="ifnot: plane.Selected()">
    <!--Barre des outils standard-->
    <span data-bind="if:mode=='euclid'">
    <div id="standard" class="submenu geobuttonbar" style="display:inline-block" data-bind="foreach: plane.stdbuttons">
        <input type=button data-bind="attr:{title:_title,name:_class},css:_class,click:function(){eval(_onclick)}" />
    </div></span>

    <!--Outils avancés-->
    <span data-bind="if:mode=='euclid'">
        <div id="advanced" class="submenu geobuttonbar" data-bind="foreach: plane.advanced">
            <input type=button data-bind="attr:{title:_title,name:_class},css:_class,click:function(){eval(_onclick)}" />
        </div></span>

    <!--Menu fonction-->
    <span data-bind="if:mode=='analytic'">
        <div id="analyticmenu" class="submenu geobuttonbar" style="display:inline-block" data-bind="foreach: plane.analytic">
            <input type=button data-bind="attr:{title:_title,name:_class},css:_class,click:function(){eval(_onclick)}" />
        </div></span>

    <!--Figure-->
    <!--div id="figurebar" class="submenu"-->
    <!--input data-bind="value:title" /-->
    <div id="figuremenu" class="submenu geobuttonbar" data-bind="foreach: figure_control">
        <div class="button" data-bind="attr:{name: _class},css: _class, click: function(){plane.creation(_title);eval(_onclick)}">
            <div data-bind="if:bool"><div class="binaire" data-bind="ifnot:field">X</div></div>
        </div>
        <!--input type="button" data-bind="attr:{title:_title,name:_class},css:_class,click:function(){eval(_onclick)}"-->
    </div>
</div>

<div style="clear:both"></div>

<!--canvas et indications, règle, abandon-->
<div id="canvasContainer">

    <div id='widgetslide' style="position:absolute; bottom:0; right:0;" data-bind="style:{display: hasRule()?'block':'none'}">
        <canvas id='canslider' width=480 height=30></canvas>
        <div id="slider"><span style='font-size: 30px;'><strong>&#x2191;</strong></span></div>
    </div> <!--data-bind="style:{left:rule()+'px'}"-->

    <span style="position:absolute; right:10%; top:10%">Script: <input type="text" id="plane_script" name="script" data-bind="value: script" /></span>

    <canvas id="geocanvas" width="800" height="500"></canvas>

    <!--cf geocontrol.geoprompt-->
    <div id="messageContainer" data-bind="if: description">
        <div id="stopMessage">
            <span class="geo-info" data-bind="text: description"></span>
            <span style="background:red;color:white; float:right; font-size:xx-large" onclick="plane.abandon()">&times;</span>
            <div id="dialog_geo" style="display:none">
                <input type="text" id="prompt" data-bind="placeholder:help, value:Selected().text" /><!--value utile pour update-->
                <textarea rows=3 cols=20 id="bigprompt" style="display:none" , data-bind="placeholder:help, value: Selected().text"></textarea>
                <br>
                <input type=button value="OK" onclick="geocontrol.enterineDialog()" />
                <input type=button value="Abandon" onclick="geocontrol.abandonDialog('#dialog_geo')" />
            </div>
            <div id="confirm_geo" style="display:none">
                <input id="confirm_button" type=button value="OK" />
                <input type=button value="Abandon" onclick="geocontrol.abandonDialog('#confirm_geo')" />
            </div>
        </div>
    </div>
</div>

<!--Menu principal-->
<!--ul class="menu">
    <li name="standard">Standard</li>
    <li name="advanced">Avancé</li>
    <li name="analytic" onclick="plane.repere.hidden=false">Geo analytique</li>
    <li name="figure">Figure</li>
</!--ul-->
<div class="menu">
    <div data-bind="if:mode=='euclid'"><span onclick="template.showSubmenu('#standard')">Standard</span></div>
    <div data-bind="if:mode=='euclid'"><span onclick="template.showSubmenu('#advanced')">Avancé</span></div>
    <div data-bind ="if:mode=='analytic'"><span onclick="template.showSubmenu('#analyticmenu')">Equations</span></div>
    <div><span onclick="template.showSubmenu('#figuremenu')">Figure</span></div>
</div>

<span data-bind="if:plane.image"><img class="tac" width=140 data-bind="attr:{src: plane.image}" /></span>




